{% extends "base.html" %} {% block content %}

<style>
    ul {
        list-style-type: none;
    }
</style>

<div class="jumbotron">
    <h2 class="display-3">Contributors</h2>

    <h5>Fairfield University Students</h5>
    <p>
        These are direct links to each students email.
    </p>
    <ul>
        <li><a href="mailto:john.cain@student.fairfield.edu">John Cain</a></li>
        <li><a href="mailto:bibek.timalsina@student.fairfield.edu">Bibek Timalsina</a></li>
        <li><a href="mailto:carlos.ponce@student.fairfield.edu">Carlos Ponce</a></li>
        <li><a href="mailto:rian.boutin@student.fairfield.edu">Rian Boutin</a></li>
    </ul>
</div>

{% endblock %}