{% extends "base.html" %} {% block content %}

<div class="jumbotron">
    <h2 class="display-3">How to Use the Mask Detector Model</h2>

    <div class="container">
        <p>
            Download any image from the internet or use a picture of yourself or friends that is saved
            on your computer. Click the 'Choose Image' button on the Predict page and then navigate to
            the image saved on your computer that you want to see if the person in the image is
            wearing a mask. Click 'Predict' and then the model will print the percentages that the
            person in your image is wearing a mask or not!
        </p>
    </div>
</div>

{% endblock %}